body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.curse{
    color: rgb(124, 16, 124);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}
.small{
    font-size: 30px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
p{
    text-align: justify;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(179, 66, 231), tomato);
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: small;
    border-radius: 5px;

}
.top-banner{
    background-image: url(images/gggojo-bg\ -\ Copy.jpg);
    height: 100%;
    background-repeat: no-repeat;
}